<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.stefantseklidis.madeline-jobs</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/stefantseklidis/madeline-jobs/.venv/bin/python</string>
    <string>/Users/stefantseklidis/madeline-jobs/server.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/stefantseklidis/madeline-jobs</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>15</integer>
  <key>StandardOutPath</key>
  <string>/Users/stefantseklidis/madeline-jobs/data/server.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/stefantseklidis/madeline-jobs/data/server.log</string>
</dict>
</plist>
